<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1> Choose your move !</h1>
    <form action="/result" method="post">
        <input name="playerChoice" id="rock" type="submit" value="rock" />
        <input name="playerChoice" id="paper" type="submit" value="paper" />
        <input name="playerChoice" id="scissors" type="submit" value="scissors" />
    </form>
</body>

</html>