<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors Challenge</title>
</head>

<body>
    <h1> Let's Play Rock Paper Scissors!</h1>
    <form action="/game" method="post">
        <p>Enter your name: </p>
        <p>Player : <input id="player-name-textbox" type="text" name="player" placeholder="Enter your name" required>
        </p>
        <br>
        <input type="submit" value="Start Game">
    </form>
</body>

</html>