<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Winner: <%= winnerPlayer.name %>
    </h1>
    <h1>Loser: <%= loserPlayer.name %>
    </h1>
    <p>Winner's Score: <%= results.winnerPlayer %>
    </p>
    <p>Loser's Score: <%= results.loserPlayer %>
    </p>
    <a href="/game">Play Again</a>
</body>

</html>